* { 
    margin: 0px;
    font-family: "inter";
    
}

#logo {
    margin-left: 50px;
    margin-top: 50px;

}

#titulo-menusuperior {
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menusuperior {
    margin-left: 150px;
    margin-top: 25px;
    padding-bottom: 100px;
}

#menu-superior {
    color: aliceblue;    
    background-image: url(images/fundo_menusuperior.svg);
}

#menu-informacional {
    background-color: #EAECE5;
    display:grid;
    grid-auto-flow: column;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 20px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulo-video{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px; 
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 30px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    justify-content: center;

}

.card{
    margin-left: 100px;
}

#seta-esquerda{
    display: none;
}
#card-bruna{
    display: none;
}

.seta{
    margin-top: 60%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition: 0.3s;
}

#formulario{
    text-align: center; 
}

#tituloFormulario{
    color: #383838;
    font-size: 25px;
    margin: 25px;
}

input{
    width: 300px;
    height:40px;
    background-color: #EAECE5;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    width: 250px;
    height:40px;
    color: rgba(255, 255, 255, 0.783);
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #3da8d6;
    transform: translateY(-7px);
    color: white;
    box-shadow: 0px 15px 20px #1e546b7a;
    transition: 0.3s;
}